<div class="row">
  <div class="col-lg-12">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #6262e1 !important;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">New Bharath-Shopy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Shopy</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Action1</a>
                <a class="dropdown-item" href="#">Action2</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Action3</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="right-nav" id="navbarNav">
          <button type="button" class="btn btn-primary mx-2" (click)="openRegisterModel()">Register</button>
          <button type="button" class="btn btn-primary mx-2" (click)="openRegisterModel()">Login</button>
        </div>
      </div>
    </nav>
  </div>
</div>
<app-products></app-products>

<!--pop Up-Button trigger modal -->
<div class="modal" tabindex="-1" role="dialog" #registerModel>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Register Form</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="closeRegisterModel()" closeRegisterModel
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <label for="name">Name</label>
            <input type="text" [(ngModel)]="registerobj.Name" class="form-control">
          </div>
          <div class="col-12">
            <label for="mobile">Mobile</label>
            <input type="mobile" [(ngModel)]="registerobj.MobileNo" class="form-control">
          </div>
          <div class="col-12">
            <label for="email">Email</label>
            <input type="text" [(ngModel)]="registerobj.Email" class="form-control">
          </div>
          <div class="col-12">
            <label for="password">Password</label>
            <input type="password" [(ngModel)]="registerobj.Password" class="form-control">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="closeRegisterModel()">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="registerForm()">SignUp</button>
      </div>
    </div>
  </div>
</div>